body{
  background-color:#dddddd;
  color : #000000;
  margin-right: auto;//ここで中央寄せを指定する。
  margin-left : auto;
  width:700px;
  font-size:62.5%;
}
.badge {
                        /* Center the content */
                        align-items: center;
                        display: flex;
                        justify-content: center;

                        /* Colors */
                        background-color: rgba(0, 0, 0, 0.3);
                        color: #fff;

                        /* Rounded border */
                        border-radius: 9999px;
                        height: 32px;
                        width: 32px;
                    }
